html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#controllers {
	position: absolute;
	top: 10%;
	left: 5px;
	list-style: none;
}

#controllers button {
	display: none;
}

#map {
	height: 100%;
}
